/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: url('../assets/img02.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Headings */
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #097371;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px 0 !important;
    margin-top: 20px;

    justify-content: space-around;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 5px;
    margin-left: 0px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;

    font-size: 18px;
    padding: 10px 60px;
    border-radius: 5px;
    display: inline-block;

    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #555;
}

/* Admin Button Styles */
.admin-button {
    float: right;
}

.admin-button a {
    background-color: #da6161;
    padding: 5px 10px !important;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px !important;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin-button a:hover {
    background-color: #ff8b8b;
    transform: scale(1.05);
}

/* Button Styles */
.buttons {
    text-align: center;
    margin-top: 50px;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.student-btn {
    padding: 20px 40px;
    font-size: 25px;
}

.btn:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Form Container Styles */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.765);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #bebcbc;
    font-size: 1.2em;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

/* Button Styles */
button {
    width: 80%;
    padding: 15px;
    margin-left: 40px;
    background-color: #295b54;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #258a8c;
    transform: scale(1.05);
}

/* Links */
p {
    text-align: center;
    font-size: 18px;
    color: #fffdfd;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin-top: 15px;
}

a {
    color: #50bdae;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Section Styling */
section {
    padding: 20px;
    background: rgba(255, 255, 255, 0.416);
    border-radius: 10px;
    margin: 50px auto;
    width: 80%;
    max-width: 1000px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }
}